@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    @apply m-0 p-0 box-border;
}

@layer components {
    .size{
        @apply w-[95%] md:w-[90%] mx-auto
    }

    .btn{
        @apply px-3 py-2 font-medium text-sm
    }

    .center{
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .write .ql-editor{
        font-size: 1.2rem !important;
        padding: 0 !important;
    }
}